<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="DataView"
           Manufacturer="OstanSunlord"
           Version="1.0.0.0"
           UpgradeCode="BA2C5CAD-B633-42DD-8CF7-B8A17CDC5F6E"
           Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of DataView is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="DataViewIcon" SourceFile="..\assets\icon\App.ico" />
    <Property Id="ARPPRODUCTICON" Value="DataViewIcon" />

    <!-- Install folder: C:\Program Files\DataView\ -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="DataView">
        <Component Id="MainExecutable" Guid="87A30071-F33B-44AB-B53A-3EA7BEC03028">
          <File Id="DataViewExe"
                Source="..\bin\Release\net8.0-windows\win-x64\publish\DataView.exe"
                KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <!-- Start Menu shortcut -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="AppMenuFolder" Name="DataView">
        <Component Id="StartMenuShortcut" Guid="E8CE43E5-E007-4F90-8189-43EF871ACD40">
          <Shortcut Id="StartMenuShortcutLink"
                    Name="DataView"
                    Target="[INSTALLFOLDER]DataView.exe"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="DataViewIcon" />
          <RemoveFolder Id="RemoveAppMenuFolder" Directory="AppMenuFolder" On="uninstall" />
          <RegistryValue Root="HKCU"
                         Key="Software\OstanSunlord\DataView"
                         Name="StartMenuInstalled"
                         Type="integer"
                         Value="1"
                         KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="Main" Title="DataView" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>

  </Package>

</Wix>
